body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
